/* StudentHomePage.css */
/* Styling the navigation bar */
.navbar {
    background-color: #232222; /* Dark background color */
    border: none; /* Remove border */
}

.deconnecter{
   position: absolute;
   right: 0;
   margin-right: 10px;
   height: 75%;
}

.profile {
    position: absolute;
    right: 0;
    margin-right: 10px;
    height: 75%;
}

.navbarbutton{
   border-style: solid;
   border-width: 0.1px;
   border-color: #363535;
   margin-left: 2px;
}

.modal-backdrop.fade.show{
    display:none;
}

.my-modal {
    width: 200px !important;
    display: flex !important;
}

.dialog-modal {
    position: absolute !important;
    right: 0 !important;
    margin-right: 30px !important;
    margin-top: 55px !important;
}

/*couleur background de la page*/
body {
    background-color: #f7f7f7;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* White text color */
}

.button-spacing {
    margin-right: 20px;
  }
  

.nav-link {
    color: #fff; /* White text color for links */
}

/* Styling the container */
.container {
    margin-top: 20px;
    text-align: center;
    border: none; /* Remove border */
}

h2 {
    font-size: 28px;
    color: #333; /* Dark text color */
}

/* Styling the "Enregistrer un CV" button */
.btn-enregistrer {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    font-size: 20px;
    padding: 10px 20px;
    border: none; /* Remove border */
}

.btn-enregistrer:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.light-bg {
    background-color: #87bfcb; 
    padding: 15px;  
    border-radius: 5px;  
  }

  .sidebar {
  height: 150vh;
  overflow-y: auto;
  border: #0e141b;
  width: 50%;
}

.light-bg {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
}

.navbar-toggler{
  border:0;
 margin-left: 10px !important;
 
}

.navbar-toggler-icon{
  color : black !important;
 }


 .bdark:active{
  outline: none !important;
  border:none;
 }



@media only screen and (max-width: 992px) {
    .deconnecter{
        position: unset;
        right: unset;
        margin-right: unset;
        height: unset;
    }
    .profile {
        position: unset;
        right: unset;
        margin-right: unset;
        height: unset;
    }
    .navbarbutton{
        border-style:none none solid none;
        font-size: 20px;
    }
}


  
