.faq-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fcfafa;
}

.faq-section h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.faq-section .faq-item {
    margin-bottom: 10px;
}

.faq-section .faq-question {
    width: 100%;
    padding: 10px;
    background-color: #1884f7;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-section .faq-question:hover {
    background-color: #0056b3;
}

.faq-section .faq-answer {
    background: #f8f9fa;
    padding: 10px;
    border-left: 3px solid #007bff;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease-out;
    

}

.faq-section .faq-answer.active {
    max-height: 700; 
}