.beat {
    animation: beat 1s infinite alternate;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.entrevue{
    margin-bottom: 5px;
}

.list-group-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.list-group-item{
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.list-group-item-header {
    background-color: #f0f0f0;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    animation: fadeIn 0.5s ease;
    font-size: 18px;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


