body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.headerInscription {
    text-align: center;
}

.goConnexion {
    margin-left: 500px;
}

.fondIU {
   display: flex;
   justify-content: center;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    align-content: end;
    position: relative;
    align-items: center;
}

.form{
    width: 100%;
}

.divForm{
    padding: 4em;
    background-color:#c5c6d0 ;
}

.saisie {
    width: 350px;
    color: white;
    border-radius: 25px;
}

.saisie-user {
    padding-left:35px;
    background-size: 20px;
}

.saisie-psw {
    padding-left:35px;
    background-size: 20px;
}


@media screen and (max-width:600px) {
    .fondIU{
        width: 100%;
    }
}
