.centrerPage {
    display: flex;
    justify-content: center;
}

.logoAndre {
    width: 500px;
}

.texteStage {
    font-size: 50px;
}

.button {
    margin-top: 10px;
    background-color: #c5c6d0;
    font-size: 20px;
    border: none;
    width:250px;
}



@media screen and (max-width:600px){
    .logoAndre{
        width: 90%;
    }
    .button{
        font-size: 5vw;
        width: 45%;
    }
    .texteStage{
        font-size : 8vw;
    }
}
